@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.principal{
    font-family: 'Open Sans';
    font-style: normal;
    justify-content: center;
    align-content: center;
}
a{
    text-decoration: none;
    color: black;
}
.top{
    margin-top: 135px;
}
.posts{
    margin-top: 91px;
}
.by{
    font-weight: 400;
    font-size: 16px;
}
.btn-class{
    border-radius: 50px;
    max-width: 204px;
    width: 100%;
    height: 70px;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
}
.btn-load{
    margin-top: 170px;
}
.imgtop{
    margin-top: 51px;
}
.alltopics{
    margin-top: 214px;
}
.ms-5 {
    margin-left: 300px !important;
}
.ms-4{
    margin-left: 500px !important;
}
.ms-3{
    margin-left: 465px !important;
}
.mt-3{
    margin-top: 20px !important;
}
img{
    max-width: 638px;
    width: 100%;
    height: 359px;
}
.btn-topic{
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.0835598);
    border-radius: 8px;
    width: 276px;
    height: 146px;
    background-color: white;
    font-size: 18px;
}
i{
    font-size: 20px;
}
.design{
    margin-top: 200px;
}
.email{
    border-radius: 40px;
    max-width: 505px;
    width: 100%;
    height: 70px;
}
.btn-f{
    border-radius: 100px;
}
.vk{
    width: 18px;
    height: 25px;
}
.footer{
    text-align: center;
}